
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 30px;
  min-width: 100px;
  min-height: 100px;
}

.inputContainer {
  margin-bottom: 5%;
}

.button {
  display: flex;
  justify-content: center;
}