.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.filler {
  display: flex;
  flex-grow: 1;
}

.sideBar{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
}

.playedCards {
  align-items: center;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  width: available;
}

