$button-color: #569352;
$button-bg: $button-color;
$button-text-color: #fff;
$baby-blue: #569352;

.title {
  font-size: 100px;
  color: #242424;
}

.pips {
  width: 40%;
  height: auto;
  margin-top: 2%;
  margin-bottom: -100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.button {
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: $button-text-color;
  text-align: center;
  border-radius: 50%;
  border: 2px $button-bg solid;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
