.container {
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: fit-content;
}

.logoContainer {
  height: 50vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: fit-content;
}

.button {
  margin: 0 20px;
  text-decoration: none;
}
