.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: fit-content;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}