html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    font-family: 'Architects Daughter', cursive;
    background-image: url('./images/background.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: fit-content;
}